
# Playwright
node_modules/
echo "node_modules"/
allure-results/
allure-report/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.allure/
allurerc.mjs
.env
*.env
.env.local
.env.*.local
.DS_Store
*.DS_Store
**/.DS_Store