
# Playwright
node_modules/
echo "node_modules"/
allure-results/
allure-report/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.allure/
allurerc.mjs
.DS_Store
